{% extends 'base.html' %}
{% block title %}Profile | {% endblock title %}
{% block body %}
 <link rel="stylesheet" href="/static/css/custom.css">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div  class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x500/?marketing" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x500/?graphic designer" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x500/?IT" class="d-block w-100" alt="...">
    </div>
  </div>
</div><br><br><br><br>
<center>
<div class="card" style="width: 25rem;">
  <img src="{{ v0 }}"" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{ v1 }}</h3>
    <p class="card-text">Department:{{ v2 }}</p>
  
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Designation:{{ v3 }}</li>
    <li class="list-group-item">Email id:{{ v4 }}</li>
    
  </ul>
</div>
  <div class="card-body">
    <a href="/reset" class="card-link">Reset Password</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div></center><br><br><br><br>

{% endblock body %}